@use "./modules/abstract/fontface";
@use "./modules/abstract/var" as var;

@use "./modules/base/_normalize.css";

@use "./modules/layout/header";
@use "./modules/layout/section_landing";
@use "./modules/layout/section_about";
@use "./modules/layout/nav";

@use "./modules/components/fluo_text";
@use "./modules/components/underlined_text";

#smooth-content{
    background-color: var(--white);
}

body{
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

img, svg{
    user-select: none;
    pointer-events: none;
}

header, .header-line{
    padding: 0 var(--padding);
}

.navigation{
    margin-left: var(--padding);
}

section{
    padding-left: var(--padding);
    padding-right: var(--padding);
}

section:first-child{
    padding-top: var(--header-height);
}

.hidden{
    visibility: hidden;
}

.hyphen{
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.reg-filter{
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}