.section-about{

    [class*="circle"]{

        position: relative;
        z-index: -1;
        mix-blend-mode: multiply;
    
        span{
            display: inline-block;
        }
    }
    
    .relative-wrapper{
        position: relative;
    }
    
    .img-wrapper{
    
        z-index: -2;
    }
    
    .img-stretch-wrapper{
    
        width: 100%;
        height: 100%;
    
        img{
            width: 100%;
            height: 100%;
            image-rendering: -webkit-optimize-contrast;
            filter: contrast(0.75);
        }
    }
    
    .gradient-mask-wrapper{
        z-index: -1;
    }
    
    .gradient-mask{
        width: 100%;
        height: 100%;
    }
    
    .img-wrapper,
    .gradient-mask{
        position: absolute;
        top: 50%;
        left: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }
    
    .circle1{
    
        .gradient-mask{
            transform: translate(-50%, -50%) rotate(-20deg);
        }
    
        img{
            transform: rotate(14deg);
        }
        
    }
    
    .circle2{
    
        .gradient-mask{
            transform:  translate(-50%, -50%) rotate(-45deg);
        }
    
        img{
            transform: translateY(10%) rotate(14deg);
        }
        
    }

    .circle3{
    
        .gradient-mask{
            transform:  translate(-50%, -50%) rotate(-20deg);
        }
    
        img{
            transform: scaleX(0.97) scaleY(0.95) translateY(3%) translateX(2%) rotate(10deg);
        }
        
    }
}