.section-about{

    [class*="line"]{

        mix-blend-mode: multiply;

        &:after,
        &:before{
            content: "";
            position: absolute;
            pointer-events: none;
            top: 100%;
            left: 0;
            width: 101%;
        }

        &:after{
            z-index: -2;
            background-position-x: left;
            background-size: auto 100%;
            background-repeat: no-repeat;
            clip-path: inset(0 100% 0 0);
            transition: clip-path 1s cubic-bezier(0.26, 0.11, 0.27, 0.99);
        }

        &:before{
            z-index: -1;
            background-image: linear-gradient(90deg, white, transparent 0.07em, transparent calc(100% - 0.07em), white);
        }
    
        &.highlighted:after{
            clip-path: inset(0 0 0 0);
        }
    }

    .line1{

        &:after,
        &:before{
            height: 0.5em;
        }

        &:before{
            transform: translateY(-40%);
        }
       
        &:after{
            background-image: url("../img/line-1.png");
            transform: translateY(-40%) rotate(-1deg);
        }

    }

    .line2{

        &:after,
        &:before{
            height: 0.45em;
        }

        &:before{
            transform: translateY(-30%);
        }
       
        &:after{
            background-image: url("../img/line-2.png");
            transform: translateY(-30%) rotate(2deg);
        }

    }
}