header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;

    .logo{
        font-size: 1.25rem;
        font-weight: 900;
    }

    hr{
        flex: 1;
        margin: 0 calc(var(--header-height) / 3);
        position: relative;
        top: -1px;
    }

    .social{
        display: flex;

        li{
            list-style: none;

            &:nth-child(2){
                margin: 0 calc(var(--header-height) / 4);
            }

            a{

                img{
                    height: 1.3rem;
                    transition: filter .3s;
                }

                &:hover img{
                    filter: contrast(0.35);
                }
            }
        }
    }
}